div{
    height: 200px;
    width: 200px;
    border: 2px solid;
    position: absolute;
}
.blue{
   
background-color: blue;
}
.yellow{
   
    background-color: yellow;
}
.red{
   
    background-color: red;
}